.shop__button {
	display: none;
	max-width: 10px;
	position: fixed;
	z-index: 2;
	right: 10%;
	& img {
		position: fixed;
		z-index: 2;
		right: 10%;
		max-width: 3%;
		filter: invert(16%) sepia(89%) saturate(6352%) hue-rotate(358deg) brightness(106%) contrast(96%);
	}
}
.nav-link {
}
.openCartLink {
}
.badge {
}
.bg-dark {
}
#hover_social:hover {
	filter: invert(65%) sepia(87%) saturate(486%) hue-rotate(357deg) brightness(107%) contrast(95%);
}
