.section__first {
	background-image: url(../img/too_boys_robot.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-left: 10px;
	min-height: 340px;
	
}
.sub__title {
}
.button {
}
